name: Vue Frontend CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x]

    # --- KLUCZOWA ZMIANA: Ścieżka do Twojego folderu ---
    defaults:
      run:
        working-directory: ./tickethub-frontend/tickethub-frontend
    # ---------------------------------------------------

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        # Tutaj też musimy podać pełną ścieżkę do pliku lock, żeby cache działał
        cache-dependency-path: './tickethub-frontend/tickethub-frontend/package-lock.json'

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build --if-present

    - name: Test
      run: npm run test
